.form textarea {
  line-height: 21px;
  color: #222;
  margin-bottom: -3px;
  resize: vertical;
}
.form .textareamin.medium textarea {
  height: 150px;
}
.form .textareamin.large textarea {
  height: 300px;
}
.form .textareamin.huge textarea {
  height: 450px;
}
